.cal-container{
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px;
  padding: 2rem 1.8rem;
}

.cal-inputs {
  background-color: hsl(185, 41%, 84%,0.4);
  border: none;
  border-radius: 5px;
  max-width: 25rem;
  width: 25rem;
  height: 2.5rem;
  text-align: end;
  padding-right: 0.5rem;
  font-size: 24px;
  color: hsl(183, 100%, 15%);
}


#cal-label-bill::before {
  content: url("./images/icon-dollar.svg");
  position: absolute;
  top: 185%;
  left: 30%;
  width: 1.1rem;
  opacity: 0.4;
}

#cal-label-people::before {
  content: url("./images/icon-person.svg");
  position: absolute;
  top: 185%;
  left: 10%;
  width: 1.2rem;
}

.cal-label-inputs {
  position: relative;
  color: hsl(186, 14%, 43%);
  margin-bottom: 0.5rem;
}

.cal-inputs::placeholder {
  color: hsl(186, 14%, 43%);
  opacity: 0.4;
}

.cal-container-inputs {
  margin: 2rem 2rem 2rem 0;
}

.cal-tip-btn {
  border: none;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 7.5rem;
  font-size: 20px;
}

#cal-tip-input {
  max-width: 7.5rem;
  font-size: 20px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: none;
  background-color: hsl(185, 41%, 84%,0.4);
  text-align: center;
  color: hsl(183, 100%, 15%);
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

#cal-tip-input::placeholder {
  color: hsl(186, 14%, 43%);
}

.cal-total-box{
  background-color: hsl(183, 100%, 15%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  padding: 4rem 2rem 2rem 2rem;
}

.cal-span-person{
  opacity: 0.5;
}

.cal-total-row-btn {
  margin-top: 7rem;
}

.cal-total-btn{
  background-color: hsl(172, 67%, 45%);
  border-radius: 5px;
  min-width: 18rem;
  height: 3rem;
  color: hsl(186, 14%, 43%);
  opacity: 0.2;
  border: 0;
}

.cal-total-digits {
  color: hsl(172, 67%, 45%);
  font-size: 2.8rem;
  text-align: right;
  margin-top: -1rem;
  
}
.cal-total-digits span{
  position: relative;
  right: -5px;
}
