.App {
  position: relative;
  top: 3rem;
  max-width: 60rem;
}

.title {
  letter-spacing: 1rem;
  text-align: center;
  color: hsl(186, 14%, 43%);
  margin-bottom: 3rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 5rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}