.App {
  position: relative;
  top: 5rem;
  max-width: 65rem;
}

.title {
  letter-spacing: 1rem;
  text-align: center;
  color: hsl(186, 14%, 43%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  bottom: auto;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}