body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  background-color: hsl(185, 41%, 84%);
  font-weight: 700;
}

input {
  cursor: pointer;
}

input:focus {
  outline-color: hsl(172, 67%, 45%);
}